extends ../layouts/main.pug

block title
  title All Stories - StoryBooks

block body
  .container
    .section
      if stories
        .row
          each story in stories
            .col.s12.l6.xl4(style="padding-top: 50px;")
              .card.z-depth-2.hoverable
                .card-image
                  a.btn-floating.btn-large.halfway-fab.left.waves-effect.waves-light(href=`/stories/${story.owner.id}`)
                    img(src=`${story.owner.image}`)
                  if user && (story.owner.id == user.id)
                    a.btn-floating.halfway-fab.waves-effect.waves-light.amber.darken-3(href=`/stories/edit/${story.id}`)
                      i.fa.fa-pencil
                .card-content.center-align
                  h5.story-title= story.title
                  br
                  p.story-body= truncate(stripTags(story.body), 140)
                .card-action.center-align
                  a.marginless(href=`/stories/show/${story.id}`) Read more

      else
        h2 No stories